<div class="option-result">
  {{#if classified_text}}
    <p>
      {{{classified_text}}}
    </p>
  {{/if}}
  {{#if submit_ad_link}}
    <p>
      <a href="{{{submit_ad_link}}}" target="_blank">Submit Ad Materials</a>
    </p>
  {{/if}}
</div>