<h2 id="audience">AUDIENCE.</h2>

<p>WSJ. Magazine engages the most affluent and powerful men and women in the world.  With a 10% increase in its US audience, 4 million global readers across 60+ countries, and leading spending power across categories, WSJ, advertising partners benefit from an unparalleled consumer connection.</p>
