<h2 id="whats-next">WHAT'S NEW &amp; NEXT.</h2>

<p>In October 2014, WSJ. Magazine announced the launch of WSJ. Magazine Brasil and WAS. Magazine America Latina.  The two new editions are printed in Portuguese and Spanish, respectively, and published four times a year: October 2014, December 2014, April 2015, and July/August 2015.  As part of this international expansion, these editions reach over 95,000 affluent readers in Argentina, Brazil, Chile, Colombia, Mexico and Panama.  Available on Fridays, the editions are hosted in eight of the most infulential local newspapers, including El Mercurio, El Norte, El Tiempo, La Nacion, La Prensa, Mural, Reforma and Valor Economico.  The content is also available on WSJAmericas.com, WSJ.com/Brasil and WSJ.com.</p>
