.global-crumbs {
  @include rem-fallback(margin-bottom, 3);
  display: none;
  font-weight: 700;

  @include breakpoint(mobile) {
    display: block;
  }

  ul {

    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;

    li {
      display: inline-block;
      @include font-size(10);
      @include rem-fallback(margin-right, 1.2);
      position: relative;

      a {
        display: block;
        line-height: 1;
        color: $light-grey;

        &:after {
          content: '>';
          position: absolute;
          @include rem-fallback(right, -0.9);
          top: 0;
        }

        &.is-active {
          color: $light-blue;

          &:after {
            content: '';

          }

        }

      }

    }

  }

}