/* ELEMENTS.SCSS CONTAINS GLOBALLY USED ELEMENTS LIKE LINKS, IMAGE WRAPPERS, TITLES, ETC... */

//cover-shaped thumbnails

.cover-thumb {
  width: 22.45%;
  @include rem-fallback(margin-bottom, 2);

  img {
    width: 100%;
    display: block;
  }

  &:last-child {
    margin-right: 0;
  }

}


// specially formatted text used on some products beneath the dynamic text 


.feature-text {
  @extend .font-dispatch-black;
  @include rem-fallback(line-height, 2.2);
  @include rem-fallback(letter-spacing, -0.16);
  @include rem-fallback(margin, 0, 0, 0.8, 0);
  @include font-size(21);
  color: $header-grey;

  &.is-first {
    @include rem-fallback(margin-top, 10);
  }

}



//global pdf links

.pdf-link {
  display: inline-block;
  @include rem-fallback(padding-left, 1);
  @include rem-fallback(margin-bottom, 0.4);
  color: $light-grey !important;
  font-weight: normal;
  position: relative;
  @include rem-fallback(padding-left, 2.8);
  @include font-size(18);

  &:before {
    position: absolute;
    content: '';
    @include rem-fallback(top, 0.1);
    @include rem-fallback(width, 2);
    @include rem-fallback(height, 2);
    left: 0;
    @include sprite-and-retina($pdf-logo);
  }

  @include breakpoint(tablet) {
    @include font-size(14);
    @include rem-fallback(margin-bottom, 0.8);

    &:before {
      @include rem-fallback(top, 0);
    }

  }

}

.excel-link {
  display: inline-block;
  @include rem-fallback(padding-left, 1);
  @include rem-fallback(margin-bottom, 0.4);
  color: $light-grey !important;
  font-weight: normal;
  position: relative;
  @include rem-fallback(padding-left, 2.8);
  @include font-size(18);

  &:before {
    position: absolute;
    content: '';
    @include rem-fallback(top, 0.1);
    @include rem-fallback(width, 2);
    @include rem-fallback(height, 2);
    left: 0;
    @include sprite-and-retina($excel-logo);
  }

  @include breakpoint(tablet) {
    @include font-size(14);
    @include rem-fallback(margin-bottom, 0.8);

    &:before {
      @include rem-fallback(top, 0);
    }

  }

}

.pdf-docs {
  @extend %clearfix;
  @include rem-fallback(margin, 0, 0, 2, 0);

/*  @include breakpoint(mobile) {
    @include rem-fallback(margin-top, 1.3);
  }*/

  .pdf-link {
    display: block;

    &:last-child {
      @include rem-fallback(margin-bottom, 0);
    }
    
  }

}



//links that look like images (used on wsj mag)

.image-link {
  @include rem-fallback(margin-left, 1.2);
  display: inline-block;
  text-indent: -102%;
  position: relative;
  vertical-align: top;
  font-size: 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }

  &.twitter {
    @include rem-fallback(width, 2.5);
    @include rem-fallback(height, 2);

    &:after {
      @include sprite-and-retina($twitter-logo);
    }

  }

  &.instagram {
    @include rem-fallback(width, 2);
    @include rem-fallback(height, 2);

    &:after {
      @include sprite-and-retina($instagram-logo);
    }

  }

}

//icon titles (contain bakedd-in titles and are used at the beginning of sections)

.icon-title {
  @include rem-fallback(margin-bottom, 4);

  img {
    max-width: 100%;
    vertical-align: top;
    display: block;
  }

}
