/* form elements */

input:focus, textarea:focus {
  outline: none;
}

input {
  @extend .font-pt-sans;
  border-radius: 0;
  position: relative;
  border: none;

  &.shadowed {
    box-shadow: 5px 5px 10px $shadow-grey;
  }

}

.input-text {
  @include rem-fallback(padding, 0.9, 0.9, 0.9, 1.1);
  @include font-size(14);
  color: $light-grey;

  &::-ms-clear {
    width: 0;
    height: 0;
  }

}

.field-error {
  position: relative;

  input {

  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    @include rem-fallback(top, 0.9);
    @include rem-fallback(right, -3.2);
    @include sprite-and-retina($validation-x);

    @include breakpoint(mobile) {
      @include rem-fallback(right, -2.2);
    }

  }

}

.input-submit {
  background-image: none;
  border: none;
  color: $white;
  background-color: $light-blue;
  @include rem-fallback(max-width, 47.5);
  @include rem-fallback(margin-right, 0.4);
  @include rem-fallback(padding, 0.8, 2.7);
  @include rem-fallback(letter-spacing, -0.1);
  line-height: 1;
  font-weight: normal;
  @include font-size(15);
  cursor: pointer;

  &.disabled, &:disabled {
    background-color: $shadow-grey-light;
    cursor: default;
  }

}