/* outer container to hold all summaries */
.summary-list {
  @extend .site-width-narrow; /* use global inner width and side padding */
}


/* the loop of highest-level elements on landing pages like /products */

.section-summary {
  @extend %clearfix;
  @include rem-fallback(padding, 8.7, 0, 0); //disabled bottom padding since it's handled by the .module inside summary now.
  border-bottom: 1px solid $border-grey;

  &:first-child {
    @include rem-fallback(padding, 0);
  }

  &:last-child {
    border-bottom: none;
  }

  a:link, a:visited, a:active {
    color: $light-blue;
  }


  @include breakpoint(tablet) {
    @include rem-fallback(padding, 3, 0, 0);
  }

  .pdf-docs {
    @extend %clearfix;
    @include rem-fallback(margin, 0, 0, 2, 0);

    @include breakpoint(mobile) {
      @include rem-fallback(margin-top, 1.3);
    }

  }

  .pdf-link {
    display: block;
  }

  .byline {
    @include font-size(20);
    @include rem-fallback(line-height, 2.4);
    @include rem-fallback(margin-bottom, 9.9);
    @include rem-fallback(max-width, 61.5);

  }

  .col-right {
    float: right;
    position: relative;
    @include rem-fallback(width, 22.7);
    @include rem-fallback(padding-right, 4);
    @include rem-fallback(margin-bottom, 2);
    text-align: right;
    /*width: 20.6%;*/
    @include font-size(14);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: $border-grey;
      @include rem-fallback(width, 0.1);
      @include rem-fallback(height, 10);
    }

    &.is-empty {
      
      &:before {
        display: none;
      }

    }

    @include breakpoint(tablet) {
      @include rem-fallback(padding-right, 0);
    }

    @include breakpoint(mobile) {
      display: none;
    }

  }

  .editions {
    @include rem-fallback(margin-bottom, 3.3);
    @include rem-fallback(padding, 0, 0.6, 0, 0);

    &:last-child {
      margin-bottom: 0;
    }

  }

  .title {
    @include rem-fallback(margin-bottom, 1.1);
    color: $medium-blue;
    @extend .font-pt-sans;
    letter-spacing: 1px;
    @include font-size(16);
    letter-spacing: 0;
  }

  .editions-list {
    list-style: none;
    margin: 0;

    li {
      @include rem-fallback(margin-bottom, 0.8);
    }

    a {
      @include font-size(13);
      color: $light-blue;
      font-weight: bold;
      text-transform: uppercase;
    }


  }

  .product-link {
    display: inline;
  }

  .column-wrapper {

  }

  .product-thumbs {
    @extend %clearfix;

    .cover-thumb {
      box-shadow: 0 2px 5px $shadow-grey-light;
      margin-right: 3.35%;
      float: left;

      img {
        display: block;
      }

      &:last-child {
        margin-right: 0;
      }

    }

  }

}

