
//this page needs the studies to reachy the edges of the layout.  override the layout width here:
.casestudies {

  .standard-layout {

    @include rem-fallback(max-width, $desktop-large);

    h1 {
      @extend .site-width-narrow;
      @include rem-fallback(padding, 0, 2);
    }

  }

}


//pulls all content in narrower than the header
.case-studies-wrapper {
  margin: 0 auto;
}





/* study filtering elements */

.filter-columns {
  @extend %clearfix;
  margin: 0 auto;
  @include rem-fallback(margin-bottom, 3);
  @extend .site-width-narrow;
  @include rem-fallback(padding, 0, 2);

  &.odd {
    margin: 0 2% 2% 0;
  }

  > div {
    float: left;

  }

  .filter-column {
    width: 25%;
    padding-right: 2%;

    select {
      width: 100%;
    }

    @include breakpoint(tablet) {
      @include rem-fallback(margin-bottom, 1);
      padding-right: 0;
      width: 100%;
      float: none;
    }

  }

  .submit-column {
    @extend %clearfix;
    width: 25%;

    button {
      margin-left: 0;
      float: left;
      padding-left: 0;
      padding-right: 0;
      width: 46%;

      &:last-child {
        float: right;
        margin-left: 7%;
      }

    }

    @include breakpoint(tablet) {
      width: 100%;

      &:first-child {
        margin-left: 0;
      }

    }

  }

}

/* Search */
#search {
  border: solid 1px $dark-grey;
  background-color: $white;
  padding: 4px 12px;
}

/* Selected filters */
#selected-filters {
  @extend .site-width-narrow;
  @include rem-fallback(margin-bottom, 3);
  @extend %clearfix;
  font-size: 85%;

  @include rem-fallback(padding, 0, 2);

  .selected-filter-name {
    clear: left;
    float: left;
    width: 70px;
  }
  .selected-filter {
    color: $text-grey;
    float: left;
    width: 165px;

  }
  &.is-invisible, .is-invisible {
    display: none;
  }
}

.error-message {
  font-weight: bold;
  text-align: center;
  margin: 2% 0;
  opacity: 0;
}

/* text overlays for case study summaries (landing page) */
.study-summary {
  width: 49%;
  display: inline-block;
  position: relative;
  margin: 0 0 2% 0;
  vertical-align: top;

  &.odd {
    margin: 0 2% 2% 0;
  }

  img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .text-overlay {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.75);
    @include rem-fallback(padding, 2.3, 3, 1.7, 3);
    bottom: 0;
    color: $white;
    text-align: left;
    width: 100%;

    > p {
      margin: 0;
      color: $white;
    }

    h2 {
      color: $white;
    }

    h4 {
      @include rem-fallback(margin-bottom, 0.7);
      @include font-size(22);
      line-height: 1;
      color: $white;

/*      @include breakpoint(tablet) {
        @include font-size(18);
      }*/
    }

    p {
      @include font-size(16);
      overflow: hidden;
      height: 4.5vw;
      @include rem-fallback(max-height, 4.5);

      @include breakpoint(tablet) {
        @include font-size(14);
        height: 9.5vw;
        @include rem-fallback(max-height, 3.8);

      }

    }

    @include breakpoint(mobile) {
      /*position: static;*/
    }

  }

  .image {
    position: relative;
  }

  &.is-hidden {
    opacity: 0;
  }

  &.is-invisible {
    display: none;
  }

  @include breakpoint(mobile) {
    width: auto;
    display: block;

    &.odd {
      margin: 0 0 4% 0;
    }

  }


}




.column-image-wrapper {
  margin: 0 auto;
  font-size: 0; /* fixes inline block spacing */
  display: block;
  @include transition(height, 0.2s, ease-in-out);

  &.is-hidden {
    opacity: 0;
    display: block;
  }
}





