<h2>Global</h2>
<p>The Wall Street Journal provides a global perspective to the world’s most affluent and influential audience. Please visit <a href="http://wsjmediakit.com/global">wsjmediakit.com/global</a> for information regarding WSJ’s Asia, Europe and Latin America newspaper editions.</p>
