<h2>WSJ. Magazine</h2>

<p>WSJ. Magazine content lives within the Life & Culture section on <a href="http://www.wsj.com" target="_blank">WSJ.com</a> and is also accessible via <a href="http://www.wsjmagazine.com" target="_blank">wsjmagazine.com</a>. WSJ. Magazine’s online content is refreshed the day prior to the release of the print edition of the magazine, acting as the first look for the highly anticipated new features.</p>
