<h2>MarketWatch</h2>

<p><a href="http://www.marketwatch.com" target="_blank">MarketWatch</a> is the leading online financial news publisher, providing an affluent and engaged audience with real-time market data, finance information and investment tools.
</p>