
<h2>MarketWatch</h2>

<p>The new universal MarketWatch app is free and accessible for all iOS consumers. Users can track the markets in real-time with enhanced charts, access breaking markets news and glean MarketWatch’s insightful commentary and analysis around the clock.</p>
