<p><b>From breaking news events to the latest tech innovations out of Silicon Valley, The Wall Street Journal's network of journalists deliver video-driven stories to explain, expand and enhance the written word.</b></p>

<p class="feature-text"><span class="color-light-blue">1,500</span> videos produced per month</p>
<p class="feature-text"><span class="color-light-blue">120+</span> hours of original video content per month</p>
<p class="feature-text"><span class="color-light-blue">30 million</span> average monthly video streams</p>
<p class="feature-text"><span class="color-light-blue">4.03</span> average videos per viewer</p>
<p class="feature-text"><span class="color-light-blue">84%</span> average ad completion rate</p>