<h2>CONNECT.</h2>

<p>
  Follow WSJ. Magazine: @WSJMAG  <a href="//twitter.com/wsjmag" class="image-link twitter" target="_blank">twitter</a><a href="//instagram.com/wsjmag" class="image-link instagram" target="_blank">instagram</a>
  <br>
  Learn more about our special events: @WSJnoted  <a href="//twitter.com/wsjnoted" class="image-link twitter" target="_blank">twitter</a><a href="//instagram.com/wsjnoted" class="image-link instagram" target="_blank">instagram</a>
  <br>
  Read every issue online: <a href="http://www.wsjmagazine.com" target="_blank">wsjmagazine.com</a>
</p>



