<p class="feature-text"><span class="color-light-blue">94%</span> of all MarketWatch users are "DIY Investors"</p>
<p class="feature-text">Average time spent per visitor is <span class="color-light-blue">36.6 Minutes</span></p>
<p class="feature-text"><span class="color-light-blue">1 in 4</span> MarketWatch users own a small business</p>
<p class="feature-text">MarketWatch users are <span class="color-light-blue">2x more likely</span> to be financial advisors.</p>
<p class="feature-text"><span class="color-light-blue">38%</span> of MarketWatch users are millionaires</p>