<h2>Mobile</h2>
<p>Available on tablet and smartphone for iOS, Android and Windows 8, the free MarketWatch Universal app offers users a more engaging and personalized experience than ever before. The My MarketWatch section allows users to customize their app to receive the news and data most relevant to their investments and enables travelers and business leaders to stay in-the-know wherever they may be.</p>