<h2>CEO Council</h2>
 
<p>A platform for the world’s leading CEOs and government officials to debate and deliberate action plans for addressing key business and public policy issues.</p>
 
<h3>AUDIENCE</h3>
<p>100 of the world’s leading CEOs and senior policymakers.</p>
 
<h3>WHEN/WHERE</h3>
<p>
    November 16-17, 2015<br/>
The Four Seasons<br />
Washington, DC<br /><br />
<a href="http://ceocouncil.wsj.com" target="_blank">ceocouncil.wsj.com</a>
</p>
