<h2>CIO Network</h2>
 
<p>A forum for chief information and technology officers from the world’s largest corporations to develop concrete strategies for meeting the challenges of today’s world of rapid innovation.</p>
 
<h3>AUDIENCE</h3>
<p>50-100 top global CIOs and CTOs.</p>
 
<h3>WHEN/WHERE</h3>
<p>
February 2-3, 2015<br />
Grand Del Mar<br />
San Diego, CA<br /><br />
<a href="http://cionetwork.wsj.com" target="_blank">cionetwork.wsj.com</a>
</p>