<h2>WSJDLive</h2>

<p>A vibrant, international technology conference that will explore compelling tech opportunities in an environment of unparalleled discussion, debate and global discovery.</p>

<h3>AUDIENCE</h3>
<p>Over 200 global CEOs, leading thinkers and sought-after entrepreneurs.</p>

<h3>WHEN/WHERE</h3>
<p>
October 19-21, 2015<br />
The Montage<br />
Laguna Beach, CA<br /><br />
<a href="http://wsjdlive.wsj.com" target="_blank">wsjdlive.wsj.com</a>
</p>
