<h2>ECO:nomics</h2>
 
<p>A discussion and debate designed to provoke thought, unleash new perspectives and uncover real solutions for the future of business and the environment.</p>
 

<h3>AUDIENCE</h3>
<p>200 of the world’s leading CEOs, decision makers, investors and entrepreneurs.</p>
 
<h3>WHEN/WHERE</h3>
<p>
March 25-27, 2015<br />
The Bacara Resort<br />
Santa Barbara, CA<br /><br />
<a href="http://economics.wsj.com" target="_blank">economics.wsj.com</a>
</p>
