<h2>Global Compliance Symposium</h2>
 
<p>A comprehensive examination of corporate risk and compliance issues and the increasingly complex government regulations that shape them.</p>
 
<h3>AUDIENCE</h3>
<p>200 senior corporate and chief compliance executives, key regulatory officials and legal experts.</p>
 
<h3>WHEN/WHERE</h3>
<p>
April 20-21, 2015<br />
Park Hyatt Hotel<br />
Washington, DC<br /><br />
<a href="http://gcs.dowjones.com" target="_blank">gcs.dowjones.com</a>
</p>