<h2>Private Equity Analyst Conference</h2>


<p>Private equity’s most powerful investors and dealmakers convene to analyze the state of the industry and the future of private equity investing.</p>
 
<h3>AUDIENCE</h3>
<p>200 equity analyst leaders, institutional investors and investment managers.</p>

<h3>WHEN/WHERE</h3>
<p> 
June 1-2, 2015<br />
Essex House<br />
New York, NY<br /><br />
<a href="http://peac.wsj.com" target="_blank">peac.wsj.com</a>
</p>
