<h3>Magazines, Articles and Newsletters</h3>

<p>WSJ. Custom Studios has the editorial expertise to create single thought-leadership pieces or calendared issues across a full range of categories. Print and digital options are available on and off-platform.</p>
<p>&nbsp;</p>



<h3>Custom Research and White Papers</h3>

<p>WSJ. Custom Studios conducts custom research studies in partnership with the WSJ. Insights team, providing clients in-depth information and analysis that can be used to reinforce brand messaging or help solidify a thought leadership position. Surveys may be deployed globally or targeted by location, industry, company size, job function and responsibility.</p>
<p>&nbsp;</p>



<h3>Content Hubs</h3>

<p>Custom content hubs allow users to engage with curated content, such as articles, slideshows, infographics and video, in an environment tailored to the client’s needs. WSJ. Custom Studios hubs utilize responsive design for a seamless experience across desktop, tablet and mobile devices.<br />
<a href="http://online.wsj.com/ad/bizruption.html" target="_blank">View Content Hub on WSJ.com</a><br />
<a href="http://curiositymagazine.53.com/" target="_blank">View Content Hub on Client Platform</a></p>
<p>&nbsp;</p>


<h3>Native Advertising</h3>

<p>Utilizing the power of The Wall Street Journal platform, WSJ. Custom Studios can help advertisers reach key audience targets by positioning brands in some of the most coveted real estate on WSJ.com through its Narratives and WSJ. Post native advertising solutions.</p>
<p>&nbsp;</p>



<h3>Infographics</h3>

<p>From simple articulations to deeply interactive designs, WSJ. Custom Studios creates infographics for brands as a powerful way to communicate to their audiences. Visualization of data points, information or trends can be created from client-supplied content or WSJ. Custom Studios research.<br />
<a href="http://portfolioofideas.com/speakers/todd-buchholz/infographic/great-wall-china" target="_blank">View Interactive Infographic</a></p>
<p>&nbsp;</p>



<h3>Campaign Measurement and Optimization</h3>

<p>All custom content campaigns are assigned a dedicated performance manager who works in partnership with the WSJ. Custom Studios team to ensure each campaign strongly delivers.</p>
<p>&nbsp;</p>



<h3>Video</h3>

<p>From events to webinars, video chats to interviews, and sizzle reels to documentary style series, dedicated in-house producers help bring branded stories to life through custom videos.<br />
<a href="http://vimeopro.com/wsjcs/samples" target="_blank">View Sample Video Projects</a></p>
<p>&nbsp;</p>



<h3>Custom Events</h3>

<p>WSJ. Custom Studios offers a full suite of production capabilities for individual or multi-day events.</p>
<p>&nbsp;</p>



<h3>Special Feature Sections</h3>

<p>Custom integration opportunities within The Wall Street Journal editorial environment allow advertisers to align with topics relevant to their business.</p>
<p>&nbsp;</p>



<h3>Ad Production</h3>
<p>Conceptualization, design, branding and execution of custom print and digital ads from WSJ. Custom Studios’ talented team of writers, designers and developers.</p>
<p>&nbsp;</p>



<h3>Custom Apps</h3>
<p>Development of mobile apps to run on iOS, Android or HTML5-compliant devices.</p>
<p>&nbsp;</p>



<h3>Translation Services</h3>
<p>Multiple language translation capabilities with distribution opportunities across 70+ Wall Street Journal products outside the U.S.</p>







