<p>The Wall Street Journal provides a global perspective to the world's most affluent and influential audience across print and digital platforms.</p>
<p class="feature-text"><span class="color-light-blue">2,000</span> Journalists</p>
<p class="feature-text"><span class="color-light-blue">80</span> News Bureaus</p>
<p class="feature-text"><span class="color-light-blue">58</span> Countries</p>
