<h3>Apex Awards</h3>
<p>A competition for publishers, editors, writers and designers who create print, web, electronic and social media.<br />
<span class="color-light-blue">2013 | 2012 | 2011 | 2010 | 2009</span>
</p>
<p>&nbsp;</p>


<h3>Astrid Awards</h3>
<p>The international competition honoring outstanding achievement in design communications.<br />
<span class="color-light-blue">2014 | 2013 | 2012 | 2011 | 2010 | 2009</span>
</p>
<p>&nbsp;</p>



<h3>The Communicator Awards</h3>
<p>The leading international awards program recognizing big ideas in marketing and communications.<br />
<span class="color-light-blue">2013 | 2012 | 2011 | 2010 | 2009</span>
</p>
<p>&nbsp;</p>


<h3>Content Marketing Awards</h3>
<p>A leading annual awards program honoring superior corporate communications, recognizing excellence in all aspects of content creation.<br />
<span class="color-light-blue">2013 | 2012 | 2011 | 2010 | 2009</span>
</p>
<p>&nbsp;</p>


<h3>Folio Awards – Eddies &amp; Ozzies</h3>
<p>The Eddies, recognizing editorial excellence, and the Ozzies, recognizing excellence in magazine design, are a prestigious designation bestowed to only the best editorial and creative teams.<br />
<span class="color-light-blue">2010</span>
</p>
<p>&nbsp;</p>



<h3>MFEA Star Awards</h3>
<p>The Mutual Fund Education Alliance awards program was designed to honor the fund industry for its extraordinary efforts to communicate with and market to investors in ways that support shareholders and their investment goals.<br />
<span class="color-light-blue">2013 | 2012 | 2011 | 2010 | 2009
</span>
</p>
<p>&nbsp;</p>



<h3>Pearl Awards</h3>
<p>The Custom Publishing Council celebrates excellence in custom content, across print, digital and multi-media platforms.<br />
<span class="color-light-blue">2013 | 2011 | 2009</span>
</p>
<p>&nbsp;</p>


