<h3>WSJ. Magazine</h3>

<p>In October 2014, WSJ. Magazine announced the launch of WSJ. Magazine Brasil and WSJ. Magazine América Latina. The two
    new editions are printed in Portuguese and Spanish, respectively, and published four times a year: October 2014,
    December 2014, April 2015 and July/August 2015. </p>

<p>Please visit <a href="http://www.wsjmediakit.com/wsjmagazine">wsjmediakit.com/wsjmagazine</a> for more information.</p>