<p>MarketWatch is the leading online financial news publisher, providing an affluent and engaged audience with real-time market data, finance information and investment tools across all digital platforms.</p>
<p class="feature-text"><span class="color-light-blue">38.6 Minutes</span> Average Time Spent Per Visitor</p>
