.module {

  &.slideshow {
    position: relative;

    .slides-outer {
      @include rem-fallback(max-height, 62.4);
    }

    li {
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
    }

    .media-slideshow-nav {
      position: absolute;
      @include rem-fallback(width, 4.7);
      @include rem-fallback(height, 8.8);
      @include rem-fallback(margin-top, -4.4);
      z-index: 105;
      top: 50%;
      cursor: pointer;

      &.prev {
        left: 5.3%;
        @include sprite-and-retina($carousel-prev);
      }

      &.next {
        right: 5.3%;
        @include sprite-and-retina($carousel-next);
      }

      @include breakpoint(mobile) {
        display: none;
      }

    }


  }



}