/* all unique for magazine layout */

.wsjmagazine {

  h1, h2 {
    @extend .font-playfair;
    text-transform: uppercase;
    color: $black;
    font-weight: normal;
  }

  p {
    color: $magazine-text;
    a {
      color: $magazine-text;
    }
  }

  a:link, a:visited, a:active {
    color: $magazine-text;
  }


}