.module {

  &.split-col-text {

    .grey-box {
      @extend %clearfix;
      @include rem-fallback(padding, 6.5, 6.0, 5.5);
      background-color: $grey-box-grey;

      .split-text-col {
        width: 48%;
        float: left;

        &:last-child {
          float: right;
        }


        @include breakpoint(mobile) {
          float: none;
          width: auto;


          &:last-child {
            float: none;
          }

        }

        p {

        }

      }

      @include breakpoint(tablet) {
        @include rem-fallback(padding, 5, 4.5, 4);
      }

      @include breakpoint(mobile) {
        @include rem-fallback(padding, 2, 2, 2);
      }

    }

  }

}