.module {

  &.split-col-image {
    @extend %clearfix;
    @extend .module-width-narrow;
    margin-left: auto;
    margin-right: auto;

    .split-text-col {
      @include rem-fallback(padding-top, 1.5);
      width: 51%;
      float: right;

      h1, h2, h3, h4 {
        padding-left: 0 !important;
        max-width: 100%;
      }

      @include breakpoint(mobile) {
        width: 100%;
        float: none;
      }



    }

    .split-image-col {
      width: 39.3%;

      img {
        display: block;
        max-width: 100%;
      }

      @include breakpoint(mobile) {
        float: none !important;
        width: 50% !important;
        margin: 0 auto;
        @include rem-fallback(margin-bottom, 1.5);
      }


    }


    &.left {
      .split-image-col {
        float: left;
      }
      .split-text-col {
        float: right;
      }
    }

    &.right {

      .split-image-col {
        float: right;
      }
      .split-text-col {
        float: left;
      }

    }





  }

}