.module {

  &.text-module {
    max-width: 100%;
    @include rem-fallback(margin-left, 0);
    @include rem-fallback(margin-right, 0);

    h1, h2, h3, h4, p {
      @include rem-fallback(padding-left, 0);
      @include rem-fallback(margin-left, 0);
      @include rem-fallback(margin-right, 0);
      @include rem-fallback(max-width, 73);

    }

    .pdf-docs {
      @include rem-fallback(margin, 3.5, 0);

      &:last-child {
        @include rem-fallback(margin, 3.5, 0, 0);
      }

    }

  }

  .column {
    padding: 0 4% 0 0;
    display: inline-block;
    width: 25%;
    vertical-align: top;


    @include breakpoint(mobile) {
      width: 33.3%;
      @include rem-fallback(margin-bottom, 3);
    }

  }

  .module-columns {
    @extend %clearfix;
    font-size: 0;

    img {
      vertical-align: top;
      max-width: 100%;
    }

    &.image-columns {
      @include rem-fallback(max-width, 81.5);

      .column {

        @include breakpoint(mobile) {
          text-align: center;
        }

      }


    }

    &.text-columns {
      @include rem-fallback(max-width, 93.5);
    }

    p {
      @include rem-fallback(max-width, 73);
      @include rem-fallback(letter-spacing, -0.05);
      @include rem-fallback(line-height, 2.5);

      @include breakpoint(tablet) {
        @include rem-fallback(line-height, 2);

      }

    }

  }


}