html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  background-color: $bg-grey;
  padding: 0;
  margin: 0;
}

body {
  @extend .font-pt-sans;
  @include font-size(16);
  color: $text-grey;
  margin: 0;
  position: relative;
}

*, :before, :after {
  box-sizing: border-box;
}



a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

select {
  color: $black;

  &:disabled {
    color: $shadow-grey-light;
  }

}

::-moz-selection {
  background-color: $white;
  color: $black;
  text-shadow: none;
}

::selection {
  background-color: $white;
  color: $black;
  text-shadow: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}


p, h3, h4 {
  color: $text-grey;
}

/* font formatting for common elements */

h1 {
  @include rem-fallback(letter-spacing, -0.2);
  @include rem-fallback(padding-left, 6);
  @extend .font-dispatch-black;
  margin: 0 auto;
  @include font-size(48);
  color: $text-grey;
  line-height: 1;
  @include rem-fallback(margin-bottom, 4.8);

  &.full-width {
    margin-left: 0;
  }

  @include breakpoint(tablet) {
    @include font-size(40);
    @include rem-fallback(margin-bottom, 4);
    @include rem-fallback(padding-left, 0);

  }

  @include breakpoint(mobile) {
    @include font-size(30);
    @include rem-fallback(margin-bottom, 2.5);
  }

}

h2, h3, h4 {
  line-height: 1.5em;
  @extend .site-width-narrow; /* use global inner width and side padding */

  a {
    color: inherit !important;
  }

}

h2 {
  @include rem-fallback(margin, 0, 0, 1.4, 0);
  @include rem-fallback(letter-spacing, 0.04);
  @include font-size(23);
  line-height: 1;
  /*color: $light-blue;*/
  color: $text-grey;

  @include breakpoint(tablet) {
    @include font-size(19);
  }

}

h3 {
  line-height: 1;
  @include rem-fallback(margin, 0, 0, 0, 0);
  @include rem-fallback(line-height, 2.2);
  @include rem-fallback(letter-spacing, -.01);
  @include font-size(18);

  &.grey-alt {
    color: $light-grey;
  }

  @include breakpoint(tablet) {
    @include font-size(16);
    @include rem-fallback(line-height, 2);

  }

}

h4 {
  line-height: 1;
  @include rem-fallback(margin, 0);
  font-weight: normal;
}

p {
  margin: 0;
  @include rem-fallback(line-height, 2.2);
  @include rem-fallback(margin, 0, 0, 2, 0);
  @include font-size(16);

  a:link, a:visited, a:active {
    color: $light-blue;
    @extend .font-pt-sans-bold;
  }

  &.disclaimer {
    @include font-size(10);
  }

  &:last-child {
    @include rem-fallback(margin-bottom, 0);
  }

  /* IMPORTANT: this styles any h2 after a paragraph with extra top margin to match comps */
/*  & + h2 {
    @include rem-fallback(margin, 4, 0, 1.4, 0); 
  }*/

  @include breakpoint(tablet) {
    @include font-size(14);
    @include rem-fallback(line-height, 1.8);
    @include rem-fallback(margin, 0, 0, 1.6, 0);
  }

}


strong, b {
  font-weight: 700;
}

sup {
  position: relative;
  @include rem-fallback(top, -0.3);
}

/* element widths */

/* some random elements are narrower than the width of the global header, this sets their width */
.narrow-site-width {
  @include rem-fallback(max-width, $desktop-large-inner);
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}


/* formatting */
.centered-text {
  text-align: center;
  @include rem-fallback(padding, 0);
}


/* REUSABLE COLOR CLASSES */

.color-light-blue {
  color: $light-blue;
}

.color-text-grey {
  color: $text-grey;
}

.color-black {
  color: $black;
}




/* width classes */

/* This is edge to edge 1104px with 20px left and right to prevent content bumping the side of the browser */

.site-width-large {
  @include rem-fallback(max-width, $desktop-large);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}

.site-width-narrow {
  @include rem-fallback(max-width, $desktop-large-inner);
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;

}

.module-width-narrow {
  width: 88.8%;
}



/* utility */

.is-hidden {
  display: none;
}

.is-transparent {
  opacity: 0;
}

.is-opaque {
  opacity: 1 !important;
}

.mobile-hidden {

  @include breakpoint(mobile) {
    display: none !important;
  }

}


