.button {
  line-height: 1;
  padding: 0;
  border: 1px solid $medium-grey;
  color: $menulink-grey;
  font-weight: normal;
  background-color: $white;
  background-image: none;

  &.form {
    @include font-size(18);
    padding: 0 23px 0;
    @include rem-fallback(height, 3.1);
    @include rem-fallback(line-height, 3);

    @include breakpoint(tablet) {
      @include font-size(14);
    }

  }

}