/* common elements extended elsewhere */

//common elements for select and custom multiselect

@mixin select-wrapper {

  &:after {
    @include sprite-and-retina($select-arrows-flat);
    content: '';
    display: block;
    position: absolute;
    @include rem-fallback(right, 1.4);
    @include rem-fallback(top, 0.8);
  }

}

@mixin select-element {
  @include rem-fallback(padding, 0, 3.5, 0, 1.3);
  background-color: rgba($black, 0.8);
  color: $white;
  cursor: pointer;
  @include font-size(18);
  @include rem-fallback(height, 3.1);
  @include rem-fallback(line-height, 3.1);

}

@mixin select-dropdown {
  box-shadow: 0px 3px 12px #999;
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
}

@mixin select-option {
  margin: 0;
  @include rem-fallback(padding, 0, 1);
  @include rem-fallback(height, 3);
  @include rem-fallback(line-height, 3);
}

@mixin select-option-hover {
  background-color: $light-blue;
  background-image: none;
  color: $white;
}