@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);


.font-pt-sans {
  font-family: 'PT Sans', sans-serif;
  @extend .font-smooth;
}

.font-pt-sans-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  @extend .font-smooth;
}

.font-dispatch-black {
  font-family: "Dispatch Black", sans-serif;
  @extend .font-smooth;
  font-weight: normal;
}

.font-dispatch-bold {
  font-family: "Dispatch", sans-serif;
  font-weight: bold;
  @extend .font-smooth;
}

.font-dispatch-condensed-bold {
  font-family: "Dispatch Cond", sans-serif;
  @extend .font-smooth;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
  @extend .font-smooth;
}

.font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




