@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function pxtoem($target, $context) {
  @return ($target/$context)+0em;
}

// Convert em to px
@function emtopx($target, $context) {
  @return ($target*$context)+0px;
}

@mixin hide-text {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin opacity($opacity) {
  filter: progid:DXImageTransform.Microsoft.Alpha(#{$opacity} * 100);
  opacity: $opacity;
}

// Font formatting mixin utility
@mixin fontformat($family, $size: inherit, $margin: 0, $padding: 0, $color: "", $lineheight: 1, $weight: normal) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  margin: $margin;
  padding: $padding;
  line-height: $lineheight;
  color: #{$color};
}

@mixin font-size($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue / 10) * 1rem;
}

// usage: @include rem-fallback(margin, 10, 20, 30, 40);
//    results: 
//    margin: 160px 320px 480px 640px;
//    margin: 10rem 20rem 30rem 40rem; 
@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}

@mixin sprite-background-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite-retina($sprite, $sprite2x) {
  @include sprite($sprite);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    @include sprite-image($sprite2x);
    @include sprite-background-size($sprite);
  }
}

@mixin sprite-position-normal($sprite) {
  $sprite-offset-x: nth($sprite, 3) / 2;
  $sprite-offset-y: nth($sprite, 4) / 2;
  $sprite-w: nth($sprite,7) / 2;
  $sprite-h: nth($sprite, 8) / 2;
  background-position: $sprite-offset-x $sprite-offset-y;
  background-size: $sprite-w $sprite-h;
}

@mixin sprite-width-normal($sprite) {
  width: nth($sprite, 5) / 2;
}

@mixin sprite-height-normal($sprite) {
  height: nth($sprite, 6) / 2;
}

@mixin sprite-image-width-normal($sprite) {
  width: nth($sprite, 7) / 2;
}

@mixin sprite-image-height-normal($sprite) {
  height: nth($sprite, 8) / 2;
}

@mixin sprite-size-normal($sprite) {
  height: nth($sprite, 6) / 2;
}

@mixin sprite-and-retina($sprite) {
  @include sprite-image($sprite);
  @include sprite-position-normal($sprite);
  @include sprite-width-normal($sprite);
  @include sprite-height-normal($sprite);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    // @include sprite($sprite);
    // @include sprite-background-size($sprite);
  }
}

//background position
@mixin bgpos($url, $repeat: no-repeat, $color: transparent, $pos: center) {
  background-image: url($url);
  background-repeat: $repeat;
  background-size: $pos;
  background-position: $pos;
}

@mixin rgba($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str});
  zoom: 1;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $width-desktop) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: $width-tablet) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: $width-mobile) {
      @content;
    }
  } @else if $point == non-mobile {
    @media (min-width: 641px) {
      @content;
    }
  } @else if $point == desktoplanding {
    @media (max-width: $width-desktoplanding) {
      @content;
    }
  }
}

@mixin if-retina() {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

/* placeholders */

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
