/* Colours */

$white: #fff;
$black: #000;

$bg-grey: #f0f0f0;

/* main menu link */
$dark-grey: #404040;
$medium-grey: #808080;
$light-grey: #7a7b7b;
$lightest-grey: #ddd;

$menulink-grey: #414141;
$submenu-grey: #7d7d7d;

$shadow-grey: #555;
$shadow-grey-light: #aaa;
$grey-box-grey: #c5c5c5;

$search-field-bg: #ddd;



//use this for text everywhere
$text-grey: #58595b;

//use this for titles everywhere
$header-grey: $text-grey;

//use this border color everywhere
$border-grey: $medium-grey;






/* only used on magazine page */
$magazine-text: $text-grey;
$magazine-links: $text-grey;
$magazine-border: #ccc;

/* main menu hover/active */
$light-blue: #3eb4e4;
$medium-blue: #5cbae3;

/* Site header/footer */
$header-height: 100px;
$footer-height: 120px;

/* site widths */
$desktop-large: 114.4; /* wider than 1104 to support 20px padding on the sides */
$desktop-large-inner: 106.5;
$footer-width-large: 111;
$module-width-inner: 98;



/* responsive breakpoints */

$width-desktop: 901px;
$width-tablet: 900px;
$width-mobile: 640px;
$width-desktoplanding: 991px;
