@import 'settings';
@import 'mixins';
@import 'fonts';
@import 'sprites/sprite';
@import 'buttons';
@import 'common';
@import 'globals/elements';
@import 'globals/landing-list-items';

/* modules */
@import '../coffee/modules/module-shared/module-shared';
@import '../coffee/modules/index/homepage';
@import '../coffee/modules/video/video-module';
@import '../coffee/modules/split-col-text/split-col-text';
@import '../coffee/modules/split-col-image/split-col-image';
@import '../coffee/modules/single-image/single-image';
@import '../coffee/modules/slideshow/slideshow';
@import '../coffee/modules/text-modules/text-modules';
@import '../coffee/modules/header/header';
@import '../coffee/modules/footer/footer';
@import '../coffee/modules/case-studies/case-studies';
@import '../coffee/modules/search-results/search-results';
@import '../coffee/modules/magazine/wsj-magazine';
@import '../coffee/modules/404/error-404';
@import '../coffee/modules/browser-test/old-browser';

/* custom formatting */

.mce-content-body {
  padding: 20px;
}

.mce-edit-area {
  padding-right: 1px !important;
}

.view-preview, .mce-content-body  {
  @extend .font-pt-sans;
  @include font-size(16);

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .font-pt-sans;
    font-weight: bold;
  }

  .icon-title {
    display: block;
  }

  .media-slideshow-nav {
    display: none;
  }

  .slides-outer {
    .slide {
      margin-bottom: 10px;
    }
  }

  p {

    margin: 0;
    @include rem-fallback(line-height, 2.2);
    @include rem-fallback(margin, 0, 0, 2, 0);
    font-size: 16px;
    
    a:link, a:visited, a:active {
      color: $light-blue;
      @extend .font-pt-sans-bold;
    }

    &.disclaimer {
      @include font-size(10);
    }

    &:last-child {
      @include rem-fallback(margin-bottom, 0);
    }

    &.feature-text {
      @extend .font-dispatch-black;
      @include rem-fallback(line-height, 2.2);
      @include rem-fallback(letter-spacing, -0.16);
      @include rem-fallback(margin, 0, 0, 0.8, 0);
      @include font-size(21);
      color: $header-grey;

      &.is-first {
        @include rem-fallback(margin-top, 10);
      }

    }

  }

}


/* allow backend to see front end styles */

.view-preview, .mce-content-body {

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  select {
    color: $black;

    &:disabled {
      color: $shadow-grey-light;
    }

  }

  :focus {
    outline-color: transparent;
    outline-style: none;
  }

  p, h3, h4 {
    color: $text-grey;
  }

  /* font formatting for common elements */

  h1 {
    @include rem-fallback(letter-spacing, -0.2);
    @include rem-fallback(padding-left, 6);
    @extend .font-dispatch-black;
    margin: 0 auto;
    @include font-size(48);
    color: $text-grey;
    line-height: 1;
    @include rem-fallback(margin-bottom, 4.8);

    &.full-width {
      margin-left: 0;
    }

  }

  h2, h3, h4 {
    line-height: 1.5em;
    @extend .site-width-narrow; /* use global inner width and side padding */

    a {
      color: inherit !important;
    }

  }

  h2 {
    @include rem-fallback(margin, 0, 0, 1.4, 0);
    @include rem-fallback(letter-spacing, 0.04);
    @include font-size(23);
    line-height: 1;
    /*color: $light-blue;*/
    color: $text-grey;

  }

  h3 {
    line-height: 1;
    @include rem-fallback(margin, 0, 0, 0, 0);
    @include rem-fallback(line-height, 2.2);
    @include rem-fallback(letter-spacing, -.01);
    @include font-size(18);

    &.grey-alt {
      color: $light-grey;
    }

  }

  h4 {
    line-height: 1;
    @include rem-fallback(margin, 0);
    font-weight: normal;
  }




  strong, b {
    font-weight: 700;
  }

  sup {
    position: relative;
    @include rem-fallback(top, -0.3);
  }

  /* element widths */

  /* some random elements are narrower than the width of the global header, this sets their width */


  /* formatting */
  .centered-text {
    text-align: center;
    @include rem-fallback(padding, 0);
  }


  /* REUSABLE COLOR CLASSES */

  .color-light-blue {
    color: $light-blue;
  }

  .color-text-grey {
    color: $text-grey;
  }

  .color-black {
    color: $black;
  }




  /* width classes */

  /* This is edge to edge 1104px with 20px left and right to prevent content bumping the side of the browser */

  .site-width-large {
    @include rem-fallback(max-width, $desktop-large);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

  }

  .site-width-narrow {
    @include rem-fallback(max-width, $desktop-large-inner);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

  }

  .module-width-narrow {
    width: 88.8%;
  }



  /* utility */

  .is-hidden {
    display: none;
  }

  .is-transparent {
    opacity: 0;
  }

  .is-opaque {
    opacity: 1 !important;
  }

  .mobile-hidden {

    @include breakpoint(mobile) {
      display: none !important;
    }

  }

}

