{{#each this}}
<div class="option-result">
  {{#if department}}
    <h3>{{department}}</h3>
  {{/if}}
  <p>
    {{#if full_name}}
      {{full_name}}<br />
    {{/if}}

    {{#if job_title}}
      {{job_title}}<br />
    {{/if}}

    {{#if phone_number}}
      {{phone_number}}<br />
    {{/if}}

    {{#if email}}
      <a href="mailto:{{email}}?subject=RFI%20from%20wsjmediakit.com&body=Please%20provide%20the%20following%20information%20so%20we%20can%20better%20serve%20you:%20%0D%0A%0D%0AYour Name:%20%0D%0A%0D%0APhone Number:%20%0D%0A%0D%0ACompany Name:%20%0D%0A%0D%0AIndustry:%20%0D%0A%0D%0ALocation:%20%0D%0A%0D%0A" target="_blank">{{email}}</a>
    {{/if}}
  </p>
</div>
{{/each}}
