/* search results page */

.search-block {
  margin: 0 auto;
  @include rem-fallback(margin-bottom, 3);
  @include rem-fallback(padding-left, 6);

  input[type="text"] {
    width: 100%;
    @include rem-fallback(width, 47.5);
    @include rem-fallback(margin-right, 0.4);
    @include rem-fallback(padding, 0.3, 0, 0.3, 1.1);

    @include breakpoint(mobile) {
      width: 60%;
    }

  }

  input[type="submit"] {
    position: relative;
    @include rem-fallback(padding, 0.6, 2.7, 0.6, 2.7);

    @include breakpoint(mobile) {
      width: 30%;
    }

  }

  @include breakpoint(tablet) {
    @include rem-fallback(padding-left, 0);
  }

}

.search-results {
  @include rem-fallback(padding-left, 6);

  .result {
    margin: 0 auto;
    @include rem-fallback(max-width, $desktop-large-inner);
    @include rem-fallback(margin-bottom, 5);

    h2 {
      color: $light-blue;
    }

    p {

    }

  }

  @include breakpoint(tablet) {
    @include rem-fallback(padding-left, 0);
  }

}