.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 220;
  background: rgba($black, 0.8);
  opacity: 0;
  display: none;

  &.is-open {
    display: block;
  }

  @include breakpoint(mobile) {
    @include rem-fallback(padding, 0, 1);
  }

}

.modal-outer {
  width: 100%;
  height: 100%;
  display: table;

  .modal-inner {
    display: table-cell;
    vertical-align: middle;
  }

}

.modal-header {
  text-align: center;
  color: $white;

  p {
    @include rem-fallback(line-height, 2.2);
    @include rem-fallback(margin-bottom, 0);
    @include font-size(15);
    color: $menulink-grey;

    &.sub-text {
      @include rem-fallback(margin-bottom, 2.1);
      @include font-size(10);
    }

  }

}

.modal-close-button {
  position: absolute;
  @include rem-fallback(top, 2);
  @include rem-fallback(right, 2);
  border: none;
  background-color: transparent;
  border-radius: 0;
  @include sprite-and-retina($modal-close-x);
  font-size: 0;
}

.modal-content {
  @include rem-fallback(padding, 3, 5.2, 2.8);
  @include rem-fallback(max-width, 35.5);
  box-shadow: 5px 5px 10px $black;
  background-color: $light-grey;
  min-height: 10px;
  margin: 0 auto;
  position: relative;

  .input-text {
    @include rem-fallback(padding, 0.7, 0, 0.7, 1.1);
    width: 100%;
  }

  .input-submit {
    @include rem-fallback(padding, 0.8, 0.9);
    margin: 0;
  }

  @include breakpoint(mobile) {
    @include rem-fallback(padding, 3, 3, 2.8);
  }

}

.form-row {
  @include rem-fallback(margin-bottom, 2.2);
}

.form-wrapper {
  margin: 0 auto;
}

.submit-logo {
  display: inline-block;
  @include rem-fallback(letter-spacing, -0.3);
  @include rem-fallback(padding-left, 4.8);
  @include rem-fallback(letter-spacing, -0.03);
  font-weight: normal;
  @include font-size(15);
  color: $menulink-grey;
  @extend .font-dispatch-bold;
  position: relative;
  @include rem-fallback(line-height, 2.4);
  @include rem-fallback(top, 0.3);

  &:before {
    content: '';
    @include sprite-and-retina($contact-insight-icon);
    position: absolute;
    @include rem-fallback(top, -0.6);
    @include rem-fallback(left, 1.3);
  }

  @include breakpoint(mobile) {
    @include rem-fallback(padding-left, 4.2);

    &:before {

      @include rem-fallback(left, 0.7);
    }

  }

}