/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/
table.table-striped tr:hover {
    background: aliceblue;
}



/* These overrides are to return the general layout of the admin section to what it was before I added the front end stylesheets used in previews -mc */

body {

  background: #e9e9e9 url(../img/tiny_grid.png) repeat 0 0 !important;
  background-repeat: repeat !important;
  height: auto;
}

.module-helper {
  float: right;
}
