#ie-message {
  display: none;
}

.lt-ie10, .lt-ie9, .ie-8 {

  body {
    @include rem-fallback(padding-top, 10);
    position: relative;
  }

  #ie-message {
    @include rem-fallback(padding, 1, 0.5);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $white;
    display: block;
  }

  p {
    @include rem-fallback(margin-bottom, 1);
  }

  .browser-links {

    .browser-link {
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      text-decoration: none;
      @include rem-fallback(margin, 0, 0.5);
      @include rem-fallback(width, 5.8);
      @include rem-fallback(height, 5.8);

      &.firefox {
        background-image: url('/assets/frontend/img/logo/firefox-browser.png');
      }

      &.chrome {
        background-image: url('/assets/frontend/img/logo/chrome-browser.png');
      }

      &.safari {
        background-image: url('/assets/frontend/img/logo/safari-browser.png');
      }

      &.ie {
        background-image: url('/assets/frontend/img/logo/ie-browser.png');
      }

    }

  }

} 