$header-height: 6.4;

%trans-white-block {
  background: rgba($white, 0.8);
}

/* layout */
.global-header-outer {
  @include rem-fallback(padding-top, 1.5);
  @extend .site-width-large; /* use global width and side padding */
  position: relative;
  z-index: 10;
  margin: 0 auto;

  @include breakpoint(tablet) {
    @include rem-fallback(padding, 0);
  }

  @include breakpoint(mobile) {
    @include rem-fallback(border-width, 1, 0, 0, 0);
    padding: 0 !important;
    border-color: $black;
    border-style: solid;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .global-header {
    @include rem-fallback(margin-bottom, 0.7);
    @include rem-fallback(height, $header-height);
    @extend %trans-white-block;
    @include rem-fallback(padding, 0, 4.5, 0, 4.4);
    box-shadow: 0 2px 5px $shadow-grey;
    @extend %clearfix;

    @include breakpoint(tablet) {
      padding: 0;
      @include rem-fallback(padding-top, 1.5);
      @include rem-fallback(height, 9.5);
    }

    @include breakpoint(mobile) {
      @include rem-fallback(height, 6);
      @include rem-fallback(padding-top, 1.3);
      background: $white;
    }

  }

  .global-subnav {
    @extend %clearfix;
    text-align: right;
    margin: 0 auto;
    @include rem-fallback(max-width, 110.4);
    @include rem-fallback(padding, 0, 2.3);
    @extend .font-pt-sans;
    position: relative;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      float: right;
      @include rem-fallback(padding, 0.1, 2.3, 0.3, 1);
      text-transform: uppercase;

      li {
        display: inline-block;
        @include rem-fallback(margin-left, 1.3);

        &:first-child {
          margin-left: 0;
        }

      }

      @include breakpoint(tablet) {
        float: none;
        margin: 0 auto;
      }


    }

    a:link, a:visited, a:active {
      @include font-size(10);
      color: $white;
      line-height: 1;

      .dark-logo & {
        color: $header-grey;
      }

      &:hover {
        text-decoration: none;
      }

    }

    @include breakpoint(tablet) {
      padding: 0;
      text-align: center;
    }

    @include breakpoint(mobile) {
      display: none;
    }

  }

}



.site-logo {
  @include sprite-and-retina($wsj-mk-logo);
  float: left;
  position: relative;
  @include rem-fallback(top, 2.3);

  @include breakpoint(tablet) {
    float: none;
    top: auto;
    margin: 0 auto;
  }

  .dark-logo & {
    @include sprite-and-retina($wsj-mk-logo-dark);
  }

  @include breakpoint(tablet) {
    @include sprite-and-retina($wsj-mk-logo-mobile);

    .dark-logo & {
      @include sprite-and-retina($wsj-mk-logo-mobile);
    }

  }

  @include breakpoint(mobile) {
    @include sprite-and-retina($wsj-mk-logo-mobile);

    .dark-logo & {
      @include sprite-and-retina($wsj-mk-logo-mobile);
    }

  }

}

.global-logo {
  @include breakpoint(tablet) {
    margin: 0 auto;
  }
}

.header-right {
  @extend %clearfix;
  position: relative;
  float: right;

  @include breakpoint(tablet) {
    float: none;
  }

}

.primary-menu {
  float: right;

  ul {
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      @include rem-fallback(margin-left, 2.5);
      @include rem-fallback(height, 6.8);
      position: relative;
      text-align: left;

      &:first-child {
        margin-left: 0;
      }

      &:hover, &.is-open {
        .primary-subnav {
          opacity: 1;
          visibility: visible;
        }

      }

    }

  }

  a:link, a:visited, a:active {
    @extend .font-dispatch-condensed-bold;
    font-weight: normal;
    @include font-size(12);
    letter-spacing: -0.5px;
    display: block;
    color: $header-grey;
    @include rem-fallback(line-height, 6.4);

    &:hover, &.active {
      color: $light-blue;
      text-decoration: none;
    }

    @include breakpoint(tablet) {
      @include rem-fallback(line-height, 5);
    }

  }

  .primary-subnav {
    padding: 0;
    margin: 0;
    position: absolute;
    @include rem-fallback(width, 13);
    @include rem-fallback(top, 6.8);
    @include rem-fallback(left, -2.2);
    @include rem-fallback(padding, 2.1, 2);
    @include transition(all, 0.2s, ease-in-out);
    @extend %trans-white-block;
    z-index: 1;
    opacity: 0;
    visibility: hidden;

    @include breakpoint(tablet) {
      @include rem-fallback(top, 4.8);
    }

    li {
      padding: 0;
      margin: 0;
      display: block;
      height: auto;

    }

    a:link, a:visited, a:active {
      @include rem-fallback(line-height, 2.6);
      display: block;
    }

  }

  @include breakpoint(tablet) {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  @include breakpoint(mobile) {
    display: none;
  }

}

.search-trigger {
  cursor: pointer;
  float: right;
  position: relative;
  @include rem-fallback(height, $header-height);
  @include rem-fallback(line-height, $header-height);
  @include rem-fallback(margin-left, 2);
  text-align: center;

  > i {
    @include transition(all, 0.2s, ease-in-out);
    @include font-size(20);
    position: absolute;
    line-height: 1;
    color: $black;
    font-style: normal;
    font-weight: bold;
  }

  .close-icon {
    @include rem-fallback(left, 0.1);
    @include rem-fallback(top, 2.4); 
    opacity: 0;

    @include breakpoint(tablet) {
      @include rem-fallback(top, 0.4);
    }

  }

  .search-icon {
    @include rem-fallback(top, 3.5);   
    @include transition(all, 0.2s, ease-in-out);

    @include breakpoint(tablet) {
      @include rem-fallback(top, 1.5);
    }

  }

  @include breakpoint(tablet) {
    @include rem-fallback(height, 3);
    @include rem-fallback(width, 3);
    @include rem-fallback(line-height, 3);
    position: absolute;
    @include rem-fallback(bottom, 2.4);
    top: auto;
    right: 3%;

    i {
      @include rem-fallback(margin-left, 0.7);
    }

  }

  @include breakpoint(mobile) {
    @include rem-fallback(right, 3.1);
    @include rem-fallback(width, 2.5);
    @include rem-fallback(top, -3.3);
  }

  &.active {
    .close-icon {
      opacity: 1;
    }

    .search-icon {
      opacity: 0;
    }

  }

}

.search-icon {
  display: block;
  position: relative;
  top: 50%;
  @include sprite-and-retina($search-icon);
  @include rem-fallback(margin-top, -1);
}

.global-search-block {
  @include rem-fallback(height, 6);
  @include rem-fallback(width, 26);
  @include rem-fallback(top, 1.7);
  @include rem-fallback(right, 8);
  @include rem-fallback(padding, 1.1, 1.1, 0, 1.1);
  @include transition(all, 0.2s, ease-in-out);
  background-color: $white;
  position: absolute;
  z-index: 5;

  &:after {
    content: '';
    position: absolute;
    @include rem-fallback(right, -0.5);
    @include rem-fallback(top, 2.4);
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid $white;
    font-size: 0;
    line-height: 0;
    @include transition(right, 0.3s, ease-in-out);
  }

  .global-search {
    position: relative;
    width: 100%;
    position: relative;
    opacity: 1;
    @include transition(all, 0.3s, ease-in-out);
    @include rem-fallback(padding-right, 5.2);
    border: 1px solid $medium-grey;

  }

  .search-submit {
    @extend .search-icon;
    position: absolute;
    color: $light-grey !important;
    @include rem-fallback(top, 3.2);
    @include rem-fallback(right, 3.3);
    display: block;
    cursor: pointer;
    @include font-size(13);
    font-weight: bold;
    z-index: 6;
    background-color: transparent;
    border-radius: 0;
    opacity: 0.4;

  }

  .clear-search {
    @include font-size(20);
  }

  &.is-collapsed {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 0;

    &:after {
      @include rem-fallback(right, 0.5);
    }

    .clear-search {
      opacity: 0;
    }

    .global-search {
      opacity: 0;
    }

  }


  @include breakpoint(tablet) {
    right: 0;
    width: 100%;
    top: auto;
    @include rem-fallback(bottom, -2.9);
    overflow: hidden;

    &:after {
      display: none;
    }

  }


  @include breakpoint(mobile) {
    @include rem-fallback(bottom, -5.7);

  }

  /* we use the white background on the search block on pages with a hero image, and use a darker variant for pages with light background colors behind the header */

  .dark-logo & {
    background-color: $search-field-bg;

    &:after {
      border-left-color: $search-field-bg;
    }

  }

}