/* landing page section link farm */

.landing-link-list {
  border-color: $light-grey;
  @include rem-fallback(border-width, 0.1, 0, 0, 0);
  border-style: solid;
  display: none;

  @include breakpoint(mobile) {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
    }

  }

  .landing-link {
    position: relative;
    display: block;
    @extend .font-dispatch-bold;
    @include font-size(21);
    border-color: inherit;
    @include rem-fallback(border-width, 0, 0, 0.1, 0);
    border-style: solid;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      @include rem-fallback(padding, 2.5, 2.5, 2.5, 1.5);
      color: $dark-grey;
      line-height: 1;
      

      &.secondary {
        background-color: $lightest-grey;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        @include rem-fallback(right, 2.5);
        top: 50%;
        @include sprite-and-retina($arrow-right);
        @include rem-fallback(margin-top, -1);
        display: block;
      }

      &:hover {
        text-decoration: none;
      }

    }

  }

}

.landing-slideshow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;

  .feature-text {
    color: $white;
  }

  .slide {
    width: 100%;
    height: 100%;
    background: transparent no-repeat center bottom;
    background-size: cover;
    position: relative;
    background-color: $bg-grey;

    @include breakpoint(mobile) {
      background-image: none !important;
    }

  }

}