.global-footer-outer {
  margin: 0 auto;
  @include rem-fallback(padding, 0, 2);

  // hide footer source info on the homepage since we are using the one in the slides themselves.
  .footer-source-info {

    .index & {
      display: none
    }

  }

}

/* different positions and colors for all pages vs. index */

.footer-source-info {
  color: $text-grey;
  text-align: left;


  @include font-size(9);
  margin: 0 auto;
  @include rem-fallback(padding, 2.5, 0);
  @include rem-fallback(max-width, 102.4);

  .footer-source-info-inner {
    margin: 0 auto;
    @include rem-fallback(max-width, $footer-width-large);
    @include rem-fallback(padding, 2.5, 0.7, 0);
  }

  @include breakpoint(tablet) {
    @include rem-fallback(line-height, 1.5);
  }

  @include breakpoint(mobile) {
    @include font-size(8);
    @include rem-fallback(padding, 0, 1, 2.5);
    text-align: center;
  }

  .index & {
    color: $white;
    @include rem-fallback(padding, 0, 2.1);
    position: absolute;
    z-index: 10;
    width: 100%;
    @include rem-fallback(bottom, 11.5);
    max-width: 100%;

    .footer-source-info-inner {
      @include rem-fallback(padding, 2.5, 4.8, 0);
    }

    @include breakpoint(tablet) {
      text-align: left;
      @include rem-fallback(bottom, 6.8);
    }

    @include breakpoint(mobile) {
      display: none;
    }

  }

}

.global-footer {
  @include rem-fallback(max-width, $footer-width-large);
  @include rem-fallback(padding-top, 2.5);
  @include rem-fallback(padding, 2.5, 4.3, 0, 4.8);
  @extend %clearfix;
  font-size: 0;
  margin: 0 auto;
  border-top: 1px solid $border-grey;
  color: $text-grey;

  @include breakpoint(tablet) {
    @include rem-fallback(padding, 2.5, 0.7, 0, 0.7);
  }

  .legal {
    float: left;
    @include font-size(9);

    @include breakpoint(mobile) {
      float: none;
      text-align: center;
      @include rem-fallback(margin-bottom, 1);
      @include font-size(8);
    }

  }

  .links {
    float: right;
    @include font-size(9);

    @include breakpoint(mobile) {
      text-align: center;
      float: none;
      @include font-size(8);
    }

    ul {
      display: inline-block;

      li {
        @include rem-fallback(padding, 0, 0.5);
        border-left: 1px solid $border-grey;
        display: inline-block;

        &:first-child {
          border-left: none;
        }

      }

    }

    a:link, a:visited, a:active {
      color: $text-grey;
      line-height: 1;
    }

  }

  /* alternate colors for landing page except on mobile */

  .index & {
    border-top: 1px solid $white;
    position: relative;
    bottom: 0;
    @include rem-fallback(margin-top, -9.6);
    z-index: 200;
    color: $white;

    ul {
      li {
        border-left: 1px solid $white;
      }
    }

    a:link, a:visited, a:active {
      color: $white;
    }

    @include breakpoint(tablet) {
      @include rem-fallback(margin-top, -5);
      color: $white;

      ul {
        li {
          border-left: 1px solid $border-grey;
        }
      }

      a:link, a:visited, a:active {
        color: $white;
      }

    }

    @include breakpoint(mobile) {
      @include rem-fallback(margin-top, 0);
      color: $text-grey;

      a:link, a:visited, a:active {
        color: $text-grey;
      }
      
    }

  }

}