<h2>AWARDS &amp; PRESS.</h2>

<p>WSJ. Magazine continues to lead the competition with global press attention and accolades that include Ad Week's Hot List for Hottest Lifestyle Magazine, the Luxury Publisher of the Year Award from Luxury Daily, the CLIO Award for Best Cover Art ad 12 awards from SPD, the Society of Publication Designers.</p>