<p><b>MarketWatch is the leading online financial news publisher, providing an affluent and engaged audience with real-time market data, finance information and investment tools across all digital platforms.</b></p>
