<p>The Wall Street Journal partnered with BAV Consulting, a division of WPP, to understand the power of The Wall Street
    Journal brand.</p>

<p>Brand Asset Valuator (BAV) is the longest running study of brands in the U.S., measuring 3,500 over a robust panel of
    16,000 consumers. BAV evaluates a comprehensive set of brand attributes, most notably brand strength and brand
    stature.</p>

<p>This third-party research confirms that The Wall Street Journal evokes a sense of trust, quality and leadership among
    readers. For all 10 categories evaluated, the study proves that advertising in The Wall Street Journal drives brand
    lift, usage and preference among readers versus non-readers.</p>