<h2>ASIA</h2>

<h3>Newspaper</h3>

<p>The Asia edition of The Wall Street Journal sets the agenda for the region’s business and financial elite, providing indispensable news and analysis of regional and global business developments to 338,982 readers. Published Monday through Friday, The Wall Street Journal Asia captures the pulse of some of the most dynamic business markets in the world.</p>