<h2>LATIN AMERICA</h2>

<h3>Newspaper</h3>

<p>The Wall Street Journal Americas is the largest pan-regional business advertising medium in Latin America and the premier source of daily global business and financial news in Spanish and Portuguese. Exclusively published within the business sections of 16 leading general-interest newspapers across Latin America, The Wall Street Journal Americas is a must-read for six million business decision makers, opinion leaders and affluent consumers.</p>