/* outer containers */

.option-chooser {
  margin: 0 auto;
  @include rem-fallback(max-width, $desktop-large-inner);

  .option-container {
    @include rem-fallback(margin-bottom, 5.4);
    @include rem-fallback(padding-left, 4.3);

    @include breakpoint(tablet) {
      @include rem-fallback(margin-bottom, 2.2);
      @include rem-fallback(padding-left, 0);
    }

    select {
      width: 100%;
      @include rem-fallback(margin-bottom, 1);
      @include rem-fallback(max-width, 29);

    }

  }

}

.select-container {
  @include rem-fallback(margin-bottom, 1);
}

.option-result-column {
  @include rem-fallback(margin-left, 2);
  float: left;
}

.option-result {
  @include rem-fallback(margin-bottom, 2);

  @include breakpoint(mobile) {
    @include rem-fallback(margin-bottom, 1.5);
  }

}

.option-result-container {
  @extend %clearfix;
  @include rem-fallback(margin-bottom, 3);
  @include rem-fallback(padding-left, 4.5);
  @include transition(opacity, 0.5s, ease-in-out);
  overflow: hidden;

  @include breakpoint(tablet) {
    @include rem-fallback(padding-left, 0);
  }

  .option-result {

    h3 {
      letter-spacing: 0;
      margin-bottom: 0;
      line-height: 1;
      color: $black;
      @include font-size(14);
    }

    p {
      @include rem-fallback(margin, 0, 0, 1, 0);
      @include rem-fallback(line-height, 1.7);
      letter-spacing: 0px;

      a {

      }

    }

    &.last-child {
      margin-bottom: 0;
    }

  }

}

/* common elements for dropdowns/multiselects */

.select-box {

}


