/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow-right-x: 73px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -73px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 26px;
$arrow-right-height: 40px;
$arrow-right-total-width: 3658px;
$arrow-right-total-height: 176px;
$arrow-right-image: '/assets/frontend/img/sprite.png';
$arrow-right: 73px 0px -73px 0px 26px 40px 3658px 176px '/assets/frontend/img/sprite.png';
$capabilities-icon-mobile-x: 372px;
$capabilities-icon-mobile-y: 0px;
$capabilities-icon-mobile-offset-x: -372px;
$capabilities-icon-mobile-offset-y: 0px;
$capabilities-icon-mobile-width: 42px;
$capabilities-icon-mobile-height: 41px;
$capabilities-icon-mobile-total-width: 3658px;
$capabilities-icon-mobile-total-height: 176px;
$capabilities-icon-mobile-image: '/assets/frontend/img/sprite.png';
$capabilities-icon-mobile: 372px 0px -372px 0px 42px 41px 3658px 176px '/assets/frontend/img/sprite.png';
$capabilities-icon-x: 802px;
$capabilities-icon-y: 0px;
$capabilities-icon-offset-x: -802px;
$capabilities-icon-offset-y: 0px;
$capabilities-icon-width: 60px;
$capabilities-icon-height: 58px;
$capabilities-icon-total-width: 3658px;
$capabilities-icon-total-height: 176px;
$capabilities-icon-image: '/assets/frontend/img/sprite.png';
$capabilities-icon: 802px 0px -802px 0px 60px 58px 3658px 176px '/assets/frontend/img/sprite.png';
$carousel-next-x: 1178px;
$carousel-next-y: 0px;
$carousel-next-offset-x: -1178px;
$carousel-next-offset-y: 0px;
$carousel-next-width: 94px;
$carousel-next-height: 176px;
$carousel-next-total-width: 3658px;
$carousel-next-total-height: 176px;
$carousel-next-image: '/assets/frontend/img/sprite.png';
$carousel-next: 1178px 0px -1178px 0px 94px 176px 3658px 176px '/assets/frontend/img/sprite.png';
$carousel-prev-x: 1080px;
$carousel-prev-y: 0px;
$carousel-prev-offset-x: -1080px;
$carousel-prev-offset-y: 0px;
$carousel-prev-width: 94px;
$carousel-prev-height: 176px;
$carousel-prev-total-width: 3658px;
$carousel-prev-total-height: 176px;
$carousel-prev-image: '/assets/frontend/img/sprite.png';
$carousel-prev: 1080px 0px -1080px 0px 94px 176px 3658px 176px '/assets/frontend/img/sprite.png';
$contact-insight-icon-x: 1008px;
$contact-insight-icon-y: 0px;
$contact-insight-icon-offset-x: -1008px;
$contact-insight-icon-offset-y: 0px;
$contact-insight-icon-width: 68px;
$contact-insight-icon-height: 68px;
$contact-insight-icon-total-width: 3658px;
$contact-insight-icon-total-height: 176px;
$contact-insight-icon-image: '/assets/frontend/img/sprite.png';
$contact-insight-icon: 1008px 0px -1008px 0px 68px 68px 3658px 176px '/assets/frontend/img/sprite.png';
$excel-logo-x: 240px;
$excel-logo-y: 0px;
$excel-logo-offset-x: -240px;
$excel-logo-offset-y: 0px;
$excel-logo-width: 40px;
$excel-logo-height: 40px;
$excel-logo-total-width: 3658px;
$excel-logo-total-height: 176px;
$excel-logo-image: '/assets/frontend/img/sprite.png';
$excel-logo: 240px 0px -240px 0px 40px 40px 3658px 176px '/assets/frontend/img/sprite.png';
$instagram-logo-x: 284px;
$instagram-logo-y: 0px;
$instagram-logo-offset-x: -284px;
$instagram-logo-offset-y: 0px;
$instagram-logo-width: 40px;
$instagram-logo-height: 40px;
$instagram-logo-total-width: 3658px;
$instagram-logo-total-height: 176px;
$instagram-logo-image: '/assets/frontend/img/sprite.png';
$instagram-logo: 284px 0px -284px 0px 40px 40px 3658px 176px '/assets/frontend/img/sprite.png';
$mobile-icon-mobile-x: 567px;
$mobile-icon-mobile-y: 0px;
$mobile-icon-mobile-offset-x: -567px;
$mobile-icon-mobile-offset-y: 0px;
$mobile-icon-mobile-width: 50px;
$mobile-icon-mobile-height: 28px;
$mobile-icon-mobile-total-width: 3658px;
$mobile-icon-mobile-total-height: 176px;
$mobile-icon-mobile-image: '/assets/frontend/img/sprite.png';
$mobile-icon-mobile: 567px 0px -567px 0px 50px 28px 3658px 176px '/assets/frontend/img/sprite.png';
$mobile-icon-x: 936px;
$mobile-icon-y: 0px;
$mobile-icon-offset-x: -936px;
$mobile-icon-offset-y: 0px;
$mobile-icon-width: 68px;
$mobile-icon-height: 38px;
$mobile-icon-total-width: 3658px;
$mobile-icon-total-height: 176px;
$mobile-icon-image: '/assets/frontend/img/sprite.png';
$mobile-icon: 936px 0px -936px 0px 68px 38px 3658px 176px '/assets/frontend/img/sprite.png';
$mobile-menu-trigger-icon-x: 137px;
$mobile-menu-trigger-icon-y: 0px;
$mobile-menu-trigger-icon-offset-x: -137px;
$mobile-menu-trigger-icon-offset-y: 0px;
$mobile-menu-trigger-icon-width: 30px;
$mobile-menu-trigger-icon-height: 20px;
$mobile-menu-trigger-icon-total-width: 3658px;
$mobile-menu-trigger-icon-total-height: 176px;
$mobile-menu-trigger-icon-image: '/assets/frontend/img/sprite.png';
$mobile-menu-trigger-icon: 137px 0px -137px 0px 30px 20px 3658px 176px '/assets/frontend/img/sprite.png';
$modal-close-x-x: 171px;
$modal-close-x-y: 0px;
$modal-close-x-offset-x: -171px;
$modal-close-x-offset-y: 0px;
$modal-close-x-width: 30px;
$modal-close-x-height: 30px;
$modal-close-x-total-width: 3658px;
$modal-close-x-total-height: 176px;
$modal-close-x-image: '/assets/frontend/img/sprite.png';
$modal-close-x: 171px 0px -171px 0px 30px 30px 3658px 176px '/assets/frontend/img/sprite.png';
$newspaper-icon-mobile-x: 418px;
$newspaper-icon-mobile-y: 0px;
$newspaper-icon-mobile-offset-x: -418px;
$newspaper-icon-mobile-offset-y: 0px;
$newspaper-icon-mobile-width: 43px;
$newspaper-icon-mobile-height: 39px;
$newspaper-icon-mobile-total-width: 3658px;
$newspaper-icon-mobile-total-height: 176px;
$newspaper-icon-mobile-image: '/assets/frontend/img/sprite.png';
$newspaper-icon-mobile: 418px 0px -418px 0px 43px 39px 3658px 176px '/assets/frontend/img/sprite.png';
$newspaper-icon-x: 677px;
$newspaper-icon-y: 0px;
$newspaper-icon-offset-x: -677px;
$newspaper-icon-offset-y: 0px;
$newspaper-icon-width: 58px;
$newspaper-icon-height: 52px;
$newspaper-icon-total-width: 3658px;
$newspaper-icon-total-height: 176px;
$newspaper-icon-image: '/assets/frontend/img/sprite.png';
$newspaper-icon: 677px 0px -677px 0px 58px 52px 3658px 176px '/assets/frontend/img/sprite.png';
$online-icon-mobile-x: 621px;
$online-icon-mobile-y: 0px;
$online-icon-mobile-offset-x: -621px;
$online-icon-mobile-offset-y: 0px;
$online-icon-mobile-width: 52px;
$online-icon-mobile-height: 28px;
$online-icon-mobile-total-width: 3658px;
$online-icon-mobile-total-height: 176px;
$online-icon-mobile-image: '/assets/frontend/img/sprite.png';
$online-icon-mobile: 621px 0px -621px 0px 52px 28px 3658px 176px '/assets/frontend/img/sprite.png';
$online-icon-x: 866px;
$online-icon-y: 0px;
$online-icon-offset-x: -866px;
$online-icon-offset-y: 0px;
$online-icon-width: 66px;
$online-icon-height: 34px;
$online-icon-total-width: 3658px;
$online-icon-total-height: 176px;
$online-icon-image: '/assets/frontend/img/sprite.png';
$online-icon: 866px 0px -866px 0px 66px 34px 3658px 176px '/assets/frontend/img/sprite.png';
$pdf-logo-x: 328px;
$pdf-logo-y: 0px;
$pdf-logo-offset-x: -328px;
$pdf-logo-offset-y: 0px;
$pdf-logo-width: 40px;
$pdf-logo-height: 40px;
$pdf-logo-total-width: 3658px;
$pdf-logo-total-height: 176px;
$pdf-logo-image: '/assets/frontend/img/sprite.png';
$pdf-logo: 328px 0px -328px 0px 40px 40px 3658px 176px '/assets/frontend/img/sprite.png';
$reports-icon-mobile-x: 465px;
$reports-icon-mobile-y: 0px;
$reports-icon-mobile-offset-x: -465px;
$reports-icon-mobile-offset-y: 0px;
$reports-icon-mobile-width: 44px;
$reports-icon-mobile-height: 37px;
$reports-icon-mobile-total-width: 3658px;
$reports-icon-mobile-total-height: 176px;
$reports-icon-mobile-image: '/assets/frontend/img/sprite.png';
$reports-icon-mobile: 465px 0px -465px 0px 44px 37px 3658px 176px '/assets/frontend/img/sprite.png';
$reports-icon-x: 739px;
$reports-icon-y: 0px;
$reports-icon-offset-x: -739px;
$reports-icon-offset-y: 0px;
$reports-icon-width: 59px;
$reports-icon-height: 50px;
$reports-icon-total-width: 3658px;
$reports-icon-total-height: 176px;
$reports-icon-image: '/assets/frontend/img/sprite.png';
$reports-icon: 739px 0px -739px 0px 59px 50px 3658px 176px '/assets/frontend/img/sprite.png';
$search-caret-x: 0px;
$search-caret-y: 0px;
$search-caret-offset-x: 0px;
$search-caret-offset-y: 0px;
$search-caret-width: 17px;
$search-caret-height: 8px;
$search-caret-total-width: 3658px;
$search-caret-total-height: 176px;
$search-caret-image: '/assets/frontend/img/sprite.png';
$search-caret: 0px 0px 0px 0px 17px 8px 3658px 176px '/assets/frontend/img/sprite.png';
$search-icon-x: 205px;
$search-icon-y: 0px;
$search-icon-offset-x: -205px;
$search-icon-offset-y: 0px;
$search-icon-width: 31px;
$search-icon-height: 31px;
$search-icon-total-width: 3658px;
$search-icon-total-height: 176px;
$search-icon-image: '/assets/frontend/img/sprite.png';
$search-icon: 205px 0px -205px 0px 31px 31px 3658px 176px '/assets/frontend/img/sprite.png';
$select-arrows-flat-x: 45px;
$select-arrows-flat-y: 0px;
$select-arrows-flat-offset-x: -45px;
$select-arrows-flat-offset-y: 0px;
$select-arrows-flat-width: 24px;
$select-arrows-flat-height: 32px;
$select-arrows-flat-total-width: 3658px;
$select-arrows-flat-total-height: 176px;
$select-arrows-flat-image: '/assets/frontend/img/sprite.png';
$select-arrows-flat: 45px 0px -45px 0px 24px 32px 3658px 176px '/assets/frontend/img/sprite.png';
$select-arrows-x: 21px;
$select-arrows-y: 0px;
$select-arrows-offset-x: -21px;
$select-arrows-offset-y: 0px;
$select-arrows-width: 20px;
$select-arrows-height: 40px;
$select-arrows-total-width: 3658px;
$select-arrows-total-height: 176px;
$select-arrows-image: '/assets/frontend/img/sprite.png';
$select-arrows: 21px 0px -21px 0px 20px 40px 3658px 176px '/assets/frontend/img/sprite.png';
$twitter-logo-x: 513px;
$twitter-logo-y: 0px;
$twitter-logo-offset-x: -513px;
$twitter-logo-offset-y: 0px;
$twitter-logo-width: 50px;
$twitter-logo-height: 40px;
$twitter-logo-total-width: 3658px;
$twitter-logo-total-height: 176px;
$twitter-logo-image: '/assets/frontend/img/sprite.png';
$twitter-logo: 513px 0px -513px 0px 50px 40px 3658px 176px '/assets/frontend/img/sprite.png';
$validation-x-x: 103px;
$validation-x-y: 0px;
$validation-x-offset-x: -103px;
$validation-x-offset-y: 0px;
$validation-x-width: 30px;
$validation-x-height: 30px;
$validation-x-total-width: 3658px;
$validation-x-total-height: 176px;
$validation-x-image: '/assets/frontend/img/sprite.png';
$validation-x: 103px 0px -103px 0px 30px 30px 3658px 176px '/assets/frontend/img/sprite.png';
$wsj-logo-mobile-x: 1276px;
$wsj-logo-mobile-y: 0px;
$wsj-logo-mobile-offset-x: -1276px;
$wsj-logo-mobile-offset-y: 0px;
$wsj-logo-mobile-width: 352px;
$wsj-logo-mobile-height: 31px;
$wsj-logo-mobile-total-width: 3658px;
$wsj-logo-mobile-total-height: 176px;
$wsj-logo-mobile-image: '/assets/frontend/img/sprite.png';
$wsj-logo-mobile: 1276px 0px -1276px 0px 352px 31px 3658px 176px '/assets/frontend/img/sprite.png';
$wsj-logo-x: 1988px;
$wsj-logo-y: 0px;
$wsj-logo-offset-x: -1988px;
$wsj-logo-offset-y: 0px;
$wsj-logo-width: 468px;
$wsj-logo-height: 40px;
$wsj-logo-total-width: 3658px;
$wsj-logo-total-height: 176px;
$wsj-logo-image: '/assets/frontend/img/sprite.png';
$wsj-logo: 1988px 0px -1988px 0px 468px 40px 3658px 176px '/assets/frontend/img/sprite.png';
$wsj-mk-logo-dark-x: 2460px;
$wsj-mk-logo-dark-y: 0px;
$wsj-mk-logo-dark-offset-x: -2460px;
$wsj-mk-logo-dark-offset-y: 0px;
$wsj-mk-logo-dark-width: 597px;
$wsj-mk-logo-dark-height: 32px;
$wsj-mk-logo-dark-total-width: 3658px;
$wsj-mk-logo-dark-total-height: 176px;
$wsj-mk-logo-dark-image: '/assets/frontend/img/sprite.png';
$wsj-mk-logo-dark: 2460px 0px -2460px 0px 597px 32px 3658px 176px '/assets/frontend/img/sprite.png';
$wsj-mk-logo-mobile-x: 1632px;
$wsj-mk-logo-mobile-y: 0px;
$wsj-mk-logo-mobile-offset-x: -1632px;
$wsj-mk-logo-mobile-offset-y: 0px;
$wsj-mk-logo-mobile-width: 352px;
$wsj-mk-logo-mobile-height: 70px;
$wsj-mk-logo-mobile-total-width: 3658px;
$wsj-mk-logo-mobile-total-height: 176px;
$wsj-mk-logo-mobile-image: '/assets/frontend/img/sprite.png';
$wsj-mk-logo-mobile: 1632px 0px -1632px 0px 352px 70px 3658px 176px '/assets/frontend/img/sprite.png';
$wsj-mk-logo-x: 3061px;
$wsj-mk-logo-y: 0px;
$wsj-mk-logo-offset-x: -3061px;
$wsj-mk-logo-offset-y: 0px;
$wsj-mk-logo-width: 597px;
$wsj-mk-logo-height: 32px;
$wsj-mk-logo-total-width: 3658px;
$wsj-mk-logo-total-height: 176px;
$wsj-mk-logo-image: '/assets/frontend/img/sprite.png';
$wsj-mk-logo: 3061px 0px -3061px 0px 597px 32px 3658px 176px '/assets/frontend/img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
