/* landing pages with marquees */

.landing-layout {
  position: relative;
  @include rem-fallback(margin-top, -11);

  h1 {

    @include breakpoint(tablet) {
      padding-left: 0;
    }

  }

  @include breakpoint(tablet) {
    @include rem-fallback(margin-top, -12.5);
  }

  @include breakpoint(mobile) {
    margin-top: auto;
  }

}

.landing-marquee {
  background: transparent no-repeat center bottom;
  background-size: cover;
  height: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.landing-marquee-title {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  background: rgba($black, 0.65);
  @include font-size(50);
  @include rem-fallback(padding, 1.9, 6.1, 2, 0);
  padding-left: 18%;
  @include rem-fallback(letter-spacing, -0.23);
  @include rem-fallback(margin-top, -5.3);


  @include breakpoint(mobile) {
    display: none;
  }

}

.landing-marquee-title, .landing-marquee-title-right {
  color: $white;
  @extend .font-dispatch-black;
}

.landing-marquee-outer {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  @include rem-fallback(margin-bottom, 7.2);
  opacity: 0;

  @include breakpoint(tablet) {
    @include rem-fallback(margin-bottom, 4);
  }

  &.is-visible {
    opacity: 1;
  }

  /* all homepage marquee versions */
  &.homepage {
    margin-bottom: 0;

    /* only for the landing page */
    .landing-marquee-titles {
      @extend %clearfix;
      @include rem-fallback(margin-top, -14);
      position: absolute;
      z-index: 5;
      top: 50%;
      @include rem-fallback(width, 92.5);

      @include breakpoint(desktoplanding) {
        @include rem-fallback(width, 49.7);

        p {
          @include rem-fallback(margin-bottom, 0.75);
        }

      }

      .landing-marquee-title {
        vertical-align: middle;
        position: static;
        left: auto;
        top: auto;
        margin-top: 0;

      }

      .landing-marquee-title {
        @include rem-fallback(padding-left, 0);
        @include font-size(32);
        @extend %clearfix;

        .main-text {
          width: 100%;
          @include rem-fallback(max-width, 50.5);
          @include rem-fallback(padding-left, 6);
          float: right;
        }

      }

      .sub-text {
        width: 100%;
        @include rem-fallback(padding-top, 3);
        @include rem-fallback(max-width, 56.5);
        @include rem-fallback(padding-left, 6);
        @include rem-fallback(padding-right, 6.1);
        float: right;
      }

    }

    .landing-marquee-title-left {
      @include rem-fallback(letter-spacing, -.25);
    }

  }


  @include breakpoint(mobile) {
    display: none;
  }

}




