/* app */
.wjs-app {
  @include rem-fallback(min-height, 15);
  margin: 0 auto;

  @include breakpoint(mobile) {
    @include rem-fallback(padding, 7, 0, 0, 0);
  }

}

/* used on non-landing pages without hero images */
.standard-layout {
  @include rem-fallback(max-width, $desktop-large);
  @include rem-fallback(padding, 4.7, 0, 0);
  margin: 0 auto;

  @include breakpoint(tablet) {
    @include rem-fallback(padding-top, 2.4);
  }

  @include breakpoint(mobile) {
    @include rem-fallback(padding-top, 0);
  }

  /* used on landing pages without hero images */

  &.no-hero {

  }

}

/* used on pages with hero images */
.landing-layout {

  .content-main {
    margin: 0 auto;

  }

}

/* max width of all content (goes from left edge to right edge of menu) */
.content-main {
  @include rem-fallback(max-width, $desktop-large);
  @include rem-fallback(padding-left, 2);
  @include rem-fallback(padding-right, 2);
  @include rem-fallback(min-height, 40);
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @include breakpoint(tablet) {

  }

  @include breakpoint(tablet) {

  }

  @include breakpoint(mobile) {
    @include rem-fallback(padding-top, 2.8);
  }

}

.module-list {
  //TODO: put this class elsewhere;
  margin-bottom: 100px;

}



