/* common to all dynamic modules */

/*.module-wrapper {
  @extend %clearfix;
}*/


/* This is only t make sure that the first module in a list doesn't have a border no matter what. */
.col-right {

  & + .has-border {
    border-top: none !important;
    padding-top: 0 !important;
  }

  & + a {

    & + .has-border {
      border-top: none !important;
      padding-top: 0 !important;
    }

  }

}

.module {
  @include rem-fallback(margin-bottom, 8.5);
  width: 100%;
  display: inline-block;

  &.has-border {
    border-top: 1px solid $border-grey;
    @include rem-fallback(padding-top, 8.5);

    @include breakpoint(tablet) {
      @include rem-fallback(padding-top, 6);
    }

    @include breakpoint(mobile) {
      @include rem-fallback(padding-top, 3);
    }

    .product-listing & {
      border-top: none;
      @include rem-fallback(padding-top, 0);
    }


  }

  @include breakpoint(tablet) {
    @include rem-fallback(margin-bottom, 6);
  }

  @include breakpoint(mobile) {
    @include rem-fallback(margin-bottom, 3);
  }

  .module-content {
    @include rem-fallback(padding, 0, 0, 0, 6);

    @include breakpoint(tablet) {
      padding: 0;
    }

  }

}



// video will be too wide if it's the first element next to .right-col.  force smaller width

.narrow-module {
  width: 73%;
  margin-left: 0 !important;
  margin-right: 0 !important;

  @include breakpoint(tablet) {
    width: 61%;
    @include rem-fallback(padding-right, 2);
  }

  @include breakpoint(mobile) {
    width: 100%;
    @include rem-fallback(padding-right, 0);
  }

}