.module {

  &.video {

    .video-player {
      position: relative;
      width: 100%;
      padding-top: 56.25%;

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &.youtube {

      }

    }

  }

}


