/* multi select <select> replacement */

.custom-multi-select {
  @include select-wrapper;
  position: relative;

  .select-trigger {
    @include select-element;
  }

  .select-options {
    @include select-dropdown;
    padding: 0;
    margin: 0;
    background: rgba($white, 0.95);
    @include rem-fallback(padding, 1, 0);
    list-style: none;

    .option {
      position: relative;
      @include select-option;
      cursor: pointer;
      @include font-size(16);
      white-space: nowrap;

      &:before {
        position: absolute;
      }

      &:hover {
        @include select-option-hover;
      }

      &.is-selected {

      }

      input {
        @include rem-fallback(margin-right, 0.5);
      }

      @include breakpoint(tablet) {
        @include font-size(12);
      }

    }

    @include breakpoint(tablet) {
      width: 100%;
    }

    @include breakpoint(mobile) {
      width: 100%;
    }

  }

  &.is-expanded {

    .select-options {
      left: 0;
    }

  }

}

/* loading state for selects */
.is-loading {
  &:before {
    content: '';
    display: block;
    position: absolute;
    @include rem-fallback(top, 0.1);
    @include rem-fallback(right, 4);
    @include rem-fallback(width, 2.8);
    @include rem-fallback(height, 2.8);
    background: transparent url('/assets/frontend/img/loading-animation.gif') no-repeat center center;
    background-size: 100% 100%;
    z-index: 1;
  }
}

